# Core
TOKEN=
OWNER_IDS=
BOT_STATUS=/help | /play
BOT_LANGUAGE=ru

# Branding/links
BOT_INVITE=
SUPPORT_SERVER=

# Colors/channels
EMBED_COLOR=#0077ff
ERROR_COLOR=#ff0000
ERROR_LOG_CHANNEL_ID=
GUILD_LOGS_MAIN_CHANNEL_ID=
GUILD_LOGS_NOTIFY_CHANNEL_ID=

# Database
DATABASE_URL=

# Lavalink
LAVALINK_NODE_ID=main
LAVALINK_HOST=127.0.0.1
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false
LAVALINK_RETRY_AMOUNT=5
LAVALINK_RETRY_DELAY=5000

# Music sources
MUSIC_DEFAULT_SOURCE=soundcloud
MUSIC_ENABLED_SOURCES=soundcloud,spotify,youtube

# Monitoring
MONITORING_STATUS=false
MONITORING_URL=

# Top.gg
TOPGG_STATUS=false
TOPGG_API_KEY=
TOPGG_VOTE_URL=

# Sharding
SHARD_STATUS=false

# Voice options
LEAVE_ON_FINISH=true
LEAVE_ON_STOP=true
LEAVE_ON_EMPTY=true
LEAVE_ON_EMPTY_COOLDOWN=60000
MAX_VOLUME=150

